<div class="c-offer-product">
    <div class="c-offer-product__image-w">
        <figure class="c-offer-product__image-wrap">

            <img class="c-offer-product__image"
                 src="${require('@img/img-min.jpg')}"
                 alt=""
            >
        </figure>
    </div>
    <div class="c-offer-product__offer">
        <div class="c-offer-product__offer-headline card-headline">
            <h3 class="c-offer-product__offer-title card-headline__title">IMMEUBLE RESIDENTIEL
                LAUSANNE</h3>
            <p class="c-offer-product__offer-sub-title card-headline__sub-title">LAUSANNE, VAUD</p>
        </div>

        <div class="c-offer-product__invest">
            <div class="c-offer-product__invest-description">
                                    <span>
                                        Disponsible a investir
                                    </span>
                <span>
                                        CHF 250'000
                                    </span>
            </div>

            <div class="c-offer-product__progress"></div>
        </div>

        <ul class="c-offer-product__list card-list">
            <li class="c-offer-product__list-item">
                <span>Prix d'achat</span>
                <span>CHF 3'500'000</span>
            </li>

            <li class="c-offer-product__list-item">
                <span>Investissement min.</span>
                <span>CHF 50'000</span>
            </li>

            <li class="c-offer-product__list-item">
                <span>Hypotheque (taux d'endettement)</span>
                <span>60%</span>
            </li>

            <li class="c-offer-product__list-item">
                <span>Duree de l'hypotheque</span>
                <span>7 ans</span>
            </li>

            <li class="c-offer-product__list-item">
                <span>Rendement attendu sur fonds propres</span>
                <span>5.00%</span>
            </li>

            <li class="c-offer-product__list-item">
                <span>Type d'investissement</span>
                <span>Copropriete</span>
            </li>
        </ul>

        <button class="btn btn--default btn--primary c-offer-product__btn">
            Plus de details
        </button>
    </div>
</div>