<div class="card-container">

    <div class="card">
        <div class="card__tape">
                                <span>
                                    Finance
                                </span>
        </div>
        <div class="card__headline card-headline">
            <h3 class="card__headline-title card-headline__title">
                IMMEUBLE RESIDENTIEL AVENCHES
            </h3>
            <p class="card__headline-sub-title card-headline__sub-title">
                AVENCHES, VAUD
            </p>
        </div>

        <figure class="card__image-wrap">
            <img src="${require('@img/img-min.jpg')}"
                 class="card__image"
                 alt=""
            >
        </figure>

        <div class="card__body">

            <div class="card__info">
                                    <span class="card__info-person">
                                        2 personnes en liste d'attente
                                    </span>
            </div>

            <ul class="card__list card-list">

                <li class="card__list-item">
                    <span>Prix d'achat</span>
                    <span>CHF 1'750'000</span>
                </li>

                <li class="card__list-item">
                    <span>Investissement minimum</span>
                    <span>CHF 10'000</span>
                </li>

                <li class="card__list-item">
                    <span>Interest Rate</span>
                    <span>10%</span>
                </li>

                <li class="card__list-item">
                    <span>Loant to value</span>
                    <span>60%</span>
                </li>

                <li class="card__list-item">
                    <span>Maturity</span>
                    <span>Jun 2021</span>
                </li>

                <li class="card__list-item">
                    <span></span>
                    <span></span>
                </li>

            </ul>

            <button class="btn btn--large btn--primary card__btn">
                MORE DETAILS
            </button>
        </div>
    </div>

    <div class="card">

        <div class="card__tape">
                                <span>
                                    Finance
                                </span>
        </div>

        <div class="card__headline card-headline">
            <h3 class="card__headline-title card-headline__title">
                IMMEUBLE RESIDENTIEL CONCISE
            </h3>
            <p class="card__headline-sub-title card-headline__sub-title">
                CONCISE, VAUD
            </p>
        </div>

        <figure class="card__image-wrap">
            <img src="${require('@img/img-min.jpg')}"
                 class="card__image"
                 alt=""
            >
        </figure>

        <div class="card__body">

            <div class="card__info">
                                    <span class="card__info-person">
                                        18 personnes en liste d'attente
                                    </span>
            </div>

            <ul class="card__list card-list">

                <li class="card__list-item">
                    <span>Prix d'achat</span>
                    <span>CHF 6'800'000</span>
                </li>

                <li class="card__list-item">
                    <span>Investissement minimum</span>
                    <span>CHF 10'000</span>
                </li>

                <li class="card__list-item">
                    <span>Interest Rate</span>
                    <span>10%</span>
                </li>

                <li class="card__list-item">
                    <span>Loant to value</span>
                    <span>60%</span>
                </li>

                <li class="card__list-item">
                    <span>Maturity</span>
                    <span>Jun 2021</span>
                </li>

                <li class="card__list-item">
                    <span></span>
                    <span></span>
                </li>

            </ul>
            <button class="btn btn--large btn--primary card__btn">
                MORE DETAILS
            </button>
        </div>
    </div>

    <div class="card">

        <div class="card__tape">
                                <span>
                                    Finance
                                </span>
        </div>

        <div class="card__headline card-headline">
            <h3 class="card__headline-title card-headline__title">
                IMMEUBLE RESIDENTIEL
            </h3>
            <p class="card__headline-sub-title card-headline__sub-title">
                RESIDENTIEL, VAUD
            </p>
        </div>

        <figure class="card__image-wrap">
            <img src="${require('@img/img-min.jpg')}"
                 class="card__image"
                 alt=""
            >
        </figure>

        <div class="card__body">

            <div class="card__info">
            </div>

            <ul class="card__list card-list">

                <li class="card__list-item">
                    <span>Prix d'achat</span>
                    <span>CHF 1'500'000</span>
                </li>

                <li class="card__list-item">
                    <span>Investissement minimum</span>
                    <span>CHF 10'000</span>
                </li>

                <li class="card__list-item">
                    <span>Interest Rate</span>
                    <span>10%</span>
                </li>

                <li class="card__list-item">
                    <span>Loant to value</span>
                    <span>60%</span>
                </li>

                <li class="card__list-item">
                    <span>Maturity</span>
                    <span>Jun 2021</span>
                </li>

                <li class="card__list-item">
                    <span></span>
                    <span></span>
                </li>

            </ul>
            <button class="btn btn--large btn--primary card__btn">
                MORE DETAILS
            </button>
        </div>
    </div>

</div>