.btn {
  border: 0;
  cursor: pointer;
  border-radius: 5px;

  &--primary {
    background: #fc7c31;
    color: $text-color-light;
  }

  &--default{
    padding: 11px 18px;
  }

  &--large{
    padding: 11px 40px;
  }
}