.с-header {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: $bg-color;
  position: fixed;
  height: 100%;
  flex: 0 0 17.5%;
  width: 17.5%;

  @include max-w(1200px){
    flex: 0 0 50px;
    width: 50px;

    &:not([class*="is-open"]){
      cursor: pointer;
    }
  }

  &.is-open{
    flex: 0 0 auto;
    width: auto;
  }

  &__inner{
    padding-top: 48%;

    @include max-w(1200px){
      padding-top: 0;
    }
  }
}